<?xml version="1.0"?>
<phpunit  bootstrap="bootstrap.php" convertDeprecationsToExceptions="true">
  <testsuites>
    <testsuite name="FileUtilities tests">
      <file>pathTests.php</file>
      <file>fileTests.php</file>
      <file>directoryTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
